@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__lista {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: fuente h1;
  src: url(../fuentes/Playball-Regular.ttf);
}

h1 {
  font-family: fuente h1;
  font-size: 16px;
}

.header {
  background-color: #2c3e50;
  opacity: 95%;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
}

.header__marca {
  height: auto;
  align-content: center;
}

.header__logo {
  width: 140px;
  height: auto;
  align-self: center;
  margin-left: 1rem;
}

.header__open {
  display: none;
}

.jam-close-rectangle {
  display: none;
}

.nav {
  padding: 1rem;
  letter-spacing: 2px;
  justify-content: space-evenly;
}

.nav__lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
}

.nav__item {
  margin-left: 16px;
}

.nav__item h1 {
  font-size: 25px;
  color: #fff;
}

.nav__enlace {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.nav__enlace:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: aliceblue;
  /*Animacion de derecha a izquierda*/
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav__enlace:hover h1 {
  color: #be351d;
}

.nav__enlace:hover:after {
  /*Tnimacion de dercha a izquierda*/
  transform-origin: left;
  transform: scaleX(1);
}

@media screen and (max-width: 600px) {
  .header {
    width: 100%;
    flex-direction: row !important;
    height: 90px;
  }
  .header__open {
    margin-right: 1rem;
    display: block;
    font-size: 32px;
    color: white;
    text-decoration: none;
  }
  .header__logo {
    width: 70%;
    height: auto;
    margin-left: 1rem;
    padding-top: 0;
  }
  .jam-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #lateral {
    display: block;
    background: #2c3e50;
    background-image: linear-gradient(to bottom, #2c3e50, #d7e6ef);
    /* background-image: linear-gradient(to bottom, #2991d6, #d7e6ef ); */
    width: 60%;
    height: 100vh;
    opacity: 0.96;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    transition: right 1.5s;
    padding-left: 5%;
    padding-top: 5%;
  }
  #lateral:target {
    right: 20;
    display: block;
  }
  .nav__lista {
    flex-direction: column;
    align-items: center;
    display: flex;
    position: relative;
    padding-left: 0;
    line-height: 2.5rem;
  }
  .jam-menu:hover {
    color: white;
  }
  .jam-close-rectangle {
    font-size: 20px;
    display: block !important;
    color: #fff;
    transition: none;
  }
}

/* .header {
    @include generarFlex(row, space-between, center);
    background-color: #2c3e50;
    padding: 0;
    display: flex;
    width:100%;
    
}

.logo{
    width: 200px;
    min-height: 80px;
}

.header__logo{
    margin-top: 20px;
    width: 150px;
    min-height: 80px;
    padding-bottom: 5px;
}
    
.nav{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}    
    
.nav__lista {
    @include generarFlex(row, space-between, center);
    list-style: none;
    margin-top: 125px;
}

.nav__enlace{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0px 15px;
} */
/* .button{
    border: 0;
    font-size: 15px;
    font-weight: 300;
    background: transparent;
    border-radius: 30px;
    text-transform: uppercase;
    color: white;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .4s;
    outline: 0;
} 

.button:hover{
    cursor: pointer;
    transform: translate3d(-3px, -3px, -3px);
    color: #aa5e5e;
    border-bottom: 3px solid #aa5e5e;
    padding-bottom: 5px;
    text-decoration: underline;
}

.button:active{
    transform: translate3d(3px, 3px, 3px);
}  */
/* .header__open {
    display: none;
}

.nav__lista .jam{
    display: none;
}
.form-control--1 {
    width: 160px!important;
    height: 30px;
    font-size: 15px;
    margin-bottom: 0px;
}

.container-fluid{
    color: $background-header-footer;
    padding: 0px;
}

.d-flex input{
    align-items: center;
}

.nav-link{
font-family: 'Playball', cursive;
font-size: 1.6rem;
}

.navbar-nav .nav-link{
    padding: 6px 10px;
    font-size: 30px;
    margin-left: 10px;
}

.navbar{
    padding-right: 20px;
} */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  background: #205375;
  padding-top: 140px;
}

main .titulo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  /* background: grey; */
  text-align: center;
  justify-content: center;
  margin-top: 0px;
}

main .titulo h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: cursive;
  font-size: 28px;
  color: #2c3c54;
  padding-top: 0;
}

main .tarjeta {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

main .tarjeta:hover .frontal {
  transform: perspective(600px) rotateY(180deg);
}

main .tarjeta:hover .trasera {
  transform: perspective(600px) rotateY(360deg);
}

main .tarjeta .cara {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 1.3s;
}

main .tarjeta .cara h3 {
  text-transform: uppercase;
  color: #be351d;
  font-size: 16px;
}

main .tarjeta .frontal {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

main .tarjeta .frontal img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .tarjeta .frontal h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #be351d;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 20px;
}

main .tarjeta .trasera {
  transform: perspective(600px) rotateY(180deg);
  background: #032336;
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
  text-decoration: none;
}

main .tarjeta .trasera h3 {
  font-size: 25px;
}

main .tarjeta .trasera .link {
  border-top: 1px solid #be351d;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
}

main .tarjeta .trasera .link a {
  color: #f3f3f3;
  animation-name: flash;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  text-decoration: none;
}

main .tarjeta .trasera p {
  letter-spacing: 1px;
  color: #fff;
  text-align: justify;
}

main .tarjeta .trasera a {
  text-decoration: none !important;
}

main .wave {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 0%;
  margin-top: -1px;
}

main .titulo h2 {
  position: relative;
  letter-spacing: .5rem;
  font-size: 30px;
  color: #205375;
  overflow: hidden;
  background: linear-gradient(90deg, #205375, #fff, #205375);
  background-repeat: no-repeat;
  animation: animate 4s linear infinite;
  background-size: 85%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.02);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/* 
h2{
    text-align: center;
    text-transform: uppercase;
    font-family:cursive;
    font-size: 25px;
    color:  #2c3c54 ; 
} */
/* h3{
    text-transform: uppercase;
    color: rgb(180, 70, 51);
    font-size: 16px;
} */
/* .main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
} */
/* .tarjeta:hover .frontal {
    transform: perspective(600px) rotateY(180deg);
}

.tarjeta:hover .trasera {
    transform: perspective(600px) rotateY(360deg);
} */
.row1 {
  display: flex;
  flex-wrap: wrap;
  padding: 0%;
  margin: 0%;
  padding-bottom: 50px;
  background: #205375;
}

.btn1, .btn2 {
  width: 120px;
  padding: 0%;
  margin-right: 20px;
  border-radius: 10px;
  height: 35px;
}

.btn2 {
  width: 120px;
  /* padding: 0%;
    margin-left: 10px;
    border-radius: 10px; */
  height: 35px;
}

div .card-body {
  padding: 0 1rem 10px;
  border-radius: 15px;
  background-color: #a7c0e5;
  align-items: flex-end;
}

.card {
  border-radius: 5%;
  display: inline-block;
  margin: 20px;
  overflow: hidden;
  text-align: center;
}

.card-img-top {
  padding-top: 5px;
  text-align: center;
  align-items: center;
  margin: 0;
}

.img-fluid {
  border-radius: 5%;
}

.card .text-danger {
  text-transform: uppercase;
}

/* .animate__animated.animate__lightSpeedInLeft{
    animation-name: bounceInLeft, animate__shakeX, bounceOutRight;
    animation-duration: 4s, 3s, 4s;
    animation-iteration-count: infinite;
}  */
.card-body .text-danger {
  font-size: 20px;
  padding-top: 5px;
}

.card-body .text-muted {
  font-size: 28px;
}

/* span .preciofinal{
    font-size: 25px;
} */
.card-body.text-secundario {
  font-size: 5px;
}

.card-body h4 {
  font-size: 22px;
}

.card-body h5 {
  padding-top: 5px;
}

.titulo1 {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #9ca4ac;
  width: 100%;
  justify-content: center;
  background: #205375;
}

.titulo1 p {
  text-align: center;
  text-transform: uppercase;
  font-family: cursive;
  font-size: 25px;
  color: #2c3c54;
  animation-name: flash;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.boton {
  display: flex;
  justify-content: center;
}

/* .col:hover{
    transform: scale(1.15);
    /* box-shadow: 13px 15px 37px black; */
/*     z-index: 10;
    transition: .8s; 
    
    transform: scale(1.2) rotate(360deg) translate(10px); */
/* -webkit-box-shadow: 18px 11px 23px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 18px 11px 23px 4px rgba(0,0,0,0.75); */
/* box-shadow: 18px 11px 23px 4px rgba(0,0,0,0.75);
border-radius: 22px 22px 22px 22px;
-moz-border-radius: 22px 22px 22px 22px;
-webkit-border-radius: 22px 22px 22px 22px;
border: 0px solid #000000;  */
/* }     */
p .text-success {
  margin: 0;
}

.card .img {
  border-radius: 5%;
}

.container-fluid {
  overflow: hidden;
  padding: 0;
}

.whatsapp {
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 40px;
  right: 15px;
}

a img {
  text-align: center;
}

.row {
  margin-bottom: 0 !important;
  margin: auto;
  background: #2c3e50;
  background: url(../imagenes/fondo_footer2.png);
  width: 100%;
  background-size: cover;
  /* background-attachment:fixed; */
}

.row p {
  color: #6a8bac;
  text-align: justify;
  padding-bottom: 0px;
}

p {
  margin-bottom: 5px;
}

.form-control {
  padding: 0%;
  height: 30px;
  width: 250px;
}

.btn {
  width: 100px;
  padding: 0%;
  height: 30px;
}

.nav-link {
  border-radius: 5px;
  font-size: 22px;
  text-align: left;
}

.nav-link:hover {
  transform: scale(1.05);
  box-shadow: 13px 15px 37px black;
  z-index: 10;
  transition: .4s;
}

.nav {
  text-align: left;
}

form p {
  border-radius: 5px;
  text-align: left;
}

img .header__logo {
  width: 150px;
}

.col p {
  text-align: center;
  padding: 5px 0px;
  margin: 0%;
}

.nav a {
  color: #6a8bac;
}

h5 {
  padding-top: 20px;
  color: #9ca4ac;
}

.header__logo1 {
  width: 130px;
  margin-top: 10px;
}

.header__logo1 img {
  align-items: center;
  text-align: center;
}

.col-lg-2 {
  text-align: center;
  align-items: center;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #161616;
}

section .circulo {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #205375;
  clip-path: circle(70% at right -20%);
}

.contenido {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenido .texto {
  position: relative;
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  max-width: 500px;
}

.contenido .texto p {
  color: #fff;
}

.texto h3 {
  text-align: center;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 270px;
  height: 400px;
  display: flex;
  justify-content: center;
}

.swiper-slide img {
  display: inline-block;
}

.contenido .imgbox {
  display: flex;
  width: 610px;
  justify-content: flex-end;
}

.contenido .imgbox img {
  max-width: 500px;
}

/* .swiper-slide img{
  position: absolute;
  bottom: 0;
  max-height: 100%;
} */
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-left {
  background-image: none;
}

.wave {
  margin-top: -1px;
  margin-bottom: -4px;
}

.titulo2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  background: #205375;
  padding: 30px 0;
  padding-bottom: -1px;
}

.titulo2 p {
  text-align: center;
  text-transform: uppercase;
  font-family: cursive;
  font-size: 28px;
  color: #2c3c54;
  animation-name: flash;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.row4 {
  display: flex;
  flex-wrap: wrap;
  padding: 0%;
  margin: 0%;
  padding-bottom: 50px;
  background: #205375;
  width: 100%;
}

.card1 {
  position: relative;
  width: 400px;
  height: 250px;
  margin: 20px;
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  border-radius: 20px;
  background: linear-gradient(135deg, #d41e31, #491f8f);
  box-shadow: 8px 8px 10px #aa376d !important;
}

.card1 img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 250px;
  transition: 0.5s;
}

.card1:hover img {
  left: 80%;
  height: 300px;
}

.card1 .card-body1 {
  position: relative;
  width: 55%;
  left: 35%;
  top: 35%;
  padding-left: 10px;
  opacity: 0.1;
  /* visibility: hidden; */
}

.card1:hover .card-body1 {
  opacity: 1;
  visibility: visible;
  left: 0%;
}

.card1 .card-body1 h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 0px;
  padding-bottom: 5px;
}

.card1 .card-body1 p {
  color: #fff;
  font-size: 15px;
  text-align: left;
}

.card1 .card-body1 a {
  position: relative;
  display: inline-block;
  color: #111;
  padding: 5px 10px;
  border-radius: 10px;
  /* background: #fff; */
  margin-top: 5px;
  text-decoration: none;
}

.d-flex {
  padding: 0;
  /* justify-content:space-evenly; */
}

.d-flex1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn3 {
  width: auto;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #161616;
}

section .circulo {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #205375;
  clip-path: circle(70% at right -20%);
}

.contenido {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenido .texto {
  position: relative;
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  max-width: 500px;
}

.contenido .texto p {
  color: #fff;
}

.texto h3 {
  text-align: center;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 270px;
  height: 400px;
  display: flex;
  justify-content: center;
}

.swiper-slide img {
  display: inline-block;
}

.contenido .imgbox {
  display: flex;
  width: 610px;
  justify-content: flex-end;
}

.contenido .imgbox img {
  max-width: 500px;
}

/* .swiper-slide img{
  position: absolute;
  bottom: 0;
  max-height: 100%;
  } */
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-left {
  background-image: none;
}

.wave {
  margin-top: -1px;
  margin-bottom: -4px;
}

.titulo2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  background: #205375;
  padding: 30px 0;
  padding-bottom: -1px;
}

.titulo2 p {
  text-align: center;
  text-transform: uppercase;
  font-family: cursive;
  font-size: 28px;
  color: #2c3c54;
  animation-name: flash;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.row4 {
  display: flex;
  flex-wrap: wrap;
  padding: 0%;
  margin: 0%;
  padding-bottom: 50px;
  background: #205375;
  width: 100%;
}

.card1 {
  position: relative;
  width: 400px;
  height: 250px;
  margin: 20px;
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  border-radius: 20px;
  background: linear-gradient(135deg, #d41e31, #491f8f);
  box-shadow: 8px 8px 10px #aa376d !important;
}

.card1 img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 250px;
  transition: 0.5s;
}

.card1:hover img {
  left: 80%;
  height: 300px;
}

.card1 .card-body1 {
  position: relative;
  width: 55%;
  left: 35%;
  top: 35%;
  padding-left: 10px;
  opacity: 0.1;
  /* visibility: hidden; */
}

.card1:hover .card-body1 {
  opacity: 1;
  visibility: visible;
  left: 0%;
}

.card1 .card-body1 h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 0px;
  padding-bottom: 5px;
}

.card1 .card-body1 p {
  color: #fff;
  font-size: 15px;
  text-align: left;
}

.card1 .card-body1 a {
  position: relative;
  display: inline-block;
  color: #111;
  padding: 5px 10px;
  border-radius: 10px;
  /* background: #fff; */
  margin-top: 5px;
  text-decoration: none;
}

.d-flex {
  padding: 0;
  /* justify-content:space-evenly; */
}

.d-flex1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn3 {
  width: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  background: #205375;
  padding-top: 140px;
  /* background: rgb(67,169,235);
  background: linear-gradient(0deg, rgba(67,169,235,1) 0%, rgba(0,0,0,1) 100%); */
}

/* body{
    background: rgb(67,169,235);
    background: linear-gradient(0deg, rgba(67,169,235,1) 0%, rgba(0,0,0,1) 100%);
} */
.text {
  text-align: center;
  justify-content: center;
}

.text h1 {
  margin-top: 35px;
  color: white;
}

.products_body {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.products_body .wrapper {
  width: 350px;
  height: 400px;
  background: transparent;
  margin: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  transform: scale(0.93);
  transition: box-shadow 0.5s, transform 0.5s;
  /* z-index: 1000; */
}

.products_body .wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

main .products_body .wrapper .container {
  width: 100%;
  height: 100%;
}

.wrapper .container .top {
  height: 80%;
  width: 100%;
  background-size: 100%;
}

.wrapper .container .bottom {
  width: 100%;
  height: 20%;
  transition: transform 0.5s;
}

.wrapper .container .bottom .left {
  height: 100%;
  width: 100%;
  background: #f4f4f4;
  position: relative;
  float: left;
}

.wrapper .container .bottom .left .details {
  padding-left: 20px;
  float: left;
  width: calc(70% - 40px);
}

.wrapper .container .bottom .left .details .txt_products {
  font-size: 25px;
}

.wrapper .container .bottom .left .buy {
  float: right;
  height: 100%;
  background: #f1f1f1;
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}

.wrapper .container .bottom .left .buy i {
  font-size: 30px;
  padding: 30px;
  color: #0781b6;
  transition: transform 0.5s;
}

.wrapper .container .bottom .left .buy:hover i {
  transform: rotate(360deg);
}

.wrapper .inside {
  z-index: 9;
  background: #0781b6;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}

.wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}

.wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}

.wrapper .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}

.wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s,transform 0.8s;
}

.wrapper .inside .contents h1,
.wrapper .inside .contents p {
  color: white;
}

.wrapper .inside .contents p {
  font-size: 19px;
}

/* .seccion1 {
  width: 100%;
  justify-content: center;
  background: #205375;
}

.grid3 {
  display: grid;
  padding-top: 0rem;
  grid-auto-rows: 350px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
 "ele1 ele2"
 "ele3 ele4"
 "ele5 ele6"
 "ele7 ele8";
  padding: 20px;
  gap: 10px;
}

.grid__hijo1 {
  border: 5px solid #a5a4a2;
  color: #fff;
  text-align: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 8px 13px black;
  cursor: pointer;
  transition: all 0.3seg ease-in-out;
  margin-top: 20px;
  width: 85%;
  height: 80%;
}

.grid__hijo2 {
  border: 5px solid #a5a4a2;
  color: #fff;
  text-align: center;
  justify-self: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 8px 13px black;
  cursor: pointer;
  transition: all 0.3seg ease-in-out;
  margin-top: 20px;
  width: 80%;
  height: 80%;
  align-items: center;
}

.grid__hijo2:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black;
  z-index: 10;
  transition: .4s;
}

.grid__imagen {
  width: 100%;
  height: 100%;
}

.grid__hijo--1 {
  grid-area: ele1;
}

.grid__hijo--2 {
  grid-area: ele2;
}

.grid__hijo--3 {
  grid-area: ele3;
}

.grid__hijo--4 {
  grid-area: ele4;
}

.grid__hijo--5 {
  grid-area: ele5;
}

.grid__hijo--6 {
  grid-area: ele6;
}

.grid__hijo--7 {
  grid-area: ele7;
}

.grid__hijo--8 {
  grid-area: ele8;
}

.grid__texto {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(180, 70, 51);
  padding: 2px 1rem;
  border-radius: 10px;
  font-size: 15px;
}

.nav__enlace1 {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.oferta {
  top: 0%;
  left: 2%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 7px;
  font-size: 20px;
}

.titulo2 h2 {
  text-transform: uppercase;
  font-size: 25px;
     
}

.grid__hijo2 h3{
    color: rgb(180, 70, 51);
}

.seccion1__titulo{
    text-align: center;
    color: $color-titulos-paginas;
    font-family: cursive;
    background: #205375;
    margin-bottom: -2px;
    font-size: 25px;
} */
.consultas {
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  background: url(../imagenes/opcion1.png);
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.consultas form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  box-sizing: border box;
  margin-top: 20px;
  border-radius: 7px;
}

h4 {
  color: #fff;
  text-align: center;
  margin: 0%;
  font-size: 30px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  border-radius: 10px;
}

#boton {
  background: #100f5f;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}

#boton:hover {
  cursor: pointer;
}

.wave {
  margin-top: -2px;
}

/* HEADER DE LA PAGINA */
/*     .header {
    background-color: #2c3e50;
    padding: 1rem 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.header__logo{
    margin-top: 10px;
}

.logo{
    width: 200px;
    min-height: 80px;
}

.header__logo{
    width: 150px;
    min-height: 80px;
}
    
.nav{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    
}    
    
.nav__lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 125px;
    
}

.nav__enlace{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0px 15px;
                
}

.button{
    border: 0;
    font-size: 15px;
    font-weight: 300;
    background: transparent;
    border-radius: 30px;
    text-transform: uppercase;
    color: white;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .4s;
    outline: 0;
}

.button:hover{
    cursor: pointer;
    transform: translate3d(-3px, -3px, -3px);
    color: #aa5e5e;
    text-decoration: underline;
}

.button:active{
    transform: translate3d(3px, 3px, 3px);
}

.header__open {
    display: none;
}

.nav__lista .jam{
    display: none;
} */
/* HEADER - BOOTSTRAP */
/* BIENVENIDOS A EMOYAS THINGS */
/* HOME - SECCION OFERTAS  */
.seccion {
  width: 100%;
  padding-top: 0rem;
  justify-content: center;
}

.grid {
  display: grid;
  grid-auto-rows: 350px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "ele1 ele2 ele3 ele4";
  padding: 10px;
  gap: 10px;
  padding-bottom: 60px;
  /* width: auto;
    width: 100%;
    height: 100%;
    object-fit: cover; */
}

.grid1 {
  display: grid;
  padding-top: 0rem;
  /*  grid-auto-rows: 350px; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "ele1 ele2 ele3 ele4" "ele5 ele6 ele7 ele8" "ele9 ele10 ele11 ele12" "ele13 ele14 ele15 ele16";
  padding-bottom: 60px;
  gap: 10px;
}

.grid2 {
  display: grid;
  padding-top: 0rem;
  grid-auto-rows: 350px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "ele1 ele2 ele3 ele4" "ele5 ele6 ele7 ele8" "ele9 ele10 ele11 ele12" "ele13 ele14 ele15 ele16";
  padding: 20px;
  gap: 10px;
}

.grid3 {
  display: grid;
  padding-top: 0rem;
  grid-auto-rows: 350px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "ele1 ele2" "ele3 ele4" "ele5 ele6" "ele7 ele8";
  padding: 20px;
  gap: 10px;
}

.grid__hijos {
  border: 5px solid #a5a4a2;
  color: #fff;
  margin: auto;
  text-align: center;
  justify-self: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 8px 13px black;
  cursor: pointer;
  transition: all 0.3seg ease-in-out;
  margin-top: 20px;
}

.grid__hijo {
  border: 5px solid #a5a4a2;
  color: #fff;
  text-align: center;
  /*   justify-self: center; */
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 8px 13px black;
  cursor: pointer;
  transition: all 0.3seg ease-in-out;
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.grid__hijo1 {
  border: 5px solid #a5a4a2;
  color: #fff;
  text-align: center;
  /* justify-self: center; */
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 8px 13px black;
  cursor: pointer;
  transition: all 0.3seg ease-in-out;
  margin-top: 20px;
  width: 85%;
  height: 80%;
}

.grid__hijo2 {
  border: 5px solid #a5a4a2;
  color: #fff;
  text-align: center;
  justify-self: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 8px 13px black;
  cursor: pointer;
  transition: all 0.3seg ease-in-out;
  margin-top: 20px;
  width: 80%;
  height: 80%;
  align-items: center;
}

.grid__hijo:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black;
  z-index: 10;
  transition: .4s;
}

.grid__hijo1:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black;
  z-index: 10;
  transition: .4s;
}

.grid__imagen {
  width: 100%;
  height: 100%;
}

.grid__hijo--1 {
  grid-area: ele1;
}

.grid__hijo--2 {
  grid-area: ele2;
}

.grid__hijo--3 {
  grid-area: ele3;
}

.grid__hijo--4 {
  grid-area: ele4;
}

.grid__hijo--5 {
  grid-area: ele5;
}

.grid__hijo--6 {
  grid-area: ele6;
}

.grid__hijo--7 {
  grid-area: ele7;
}

.grid__hijo--8 {
  grid-area: ele8;
}

.grid__hijo--9 {
  grid-area: ele9;
}

.grid__hijo--10 {
  grid-area: ele10;
}

.grid__hijo--11 {
  grid-area: ele11;
}

.grid__hijo--12 {
  grid-area: ele12;
}

.grid__hijo--13 {
  grid-area: ele13;
}

.grid__hijo--14 {
  grid-area: ele14;
}

.grid__hijo--15 {
  grid-area: ele15;
}

.grid__hijo--16 {
  grid-area: ele16;
}

.grid__texto {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 2px 1rem;
  border-radius: 10px;
}

.nav__enlace1 {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.oferta {
  top: 0%;
  left: 2%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
}

.titulo2 h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: cursive;
  font-size: 25px;
  color: #2c3c54;
  animation-name: bounceInLeft, bounceIn;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  padding-top: 20px;
}

/* MAIN 2 - BOOTSTRAP  */
/* FOOTER */
footer {
  width: 100%;
  position: relative;
  /* text-align: center; */
}

.contenedor {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  background: #2c3e50;
  flex-wrap: nowrap;
  padding-top: 40px;
}

.caja {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  align-items: initial;
}

.caja1 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: initial;
}

footer .contenedor .caja {
  flex-wrap: wrap;
}

.logo__caja img {
  width: 150px;
}

p {
  text-align: center;
  color: #7a7a7a;
}

.caja .terminos {
  max-width: 320px;
  margin-top: 20px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}

.caja .terminos p {
  text-align: left;
}

.caja h4 {
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;
  font-size: 22px;
}

.caja1 h4 {
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;
  font-size: 22px;
}

.caja a {
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
}

.caja a:hover {
  opacity: 0.8;
}

.caja a .fab {
  font-size: 20px;
  padding: 0 5px;
}

.caja input {
  width: 200px;
  background: #2c3e50;
  height: 30px;
  border-radius: 8px;
  text-align: left;
  border: 2px solid white;
  margin-bottom: 10px;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
}

.caja1 input {
  width: 150px;
  background: #2c3e50;
  height: 30px;
  border-radius: 8px;
  text-align: left;
  border: 2px solid white;
  margin-bottom: 10px;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
}

#boton:hover {
  cursor: pointer;
  background: #2c3e50;
}

.derechos {
  /*  max-width: 1200px; */
  /* margin: auto; */
  text-align: center;
  /* padding: 0px 40px; */
  background: #2c3e50;
}

.derechos p {
  margin-top: 0px;
  color: #7a7a7a;
  background: #2c3e50;
}

.caja input .boton {
  text-align: center;
  background: #2c3e50;
}

.derechos hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}

/* FOOTER - BOOTSTRAP */
/* CONTACTOS */
/* MEDIA QUERY  */
@media screen and (max-width: 1023px) {
  /* HEDAER */
  .header {
    background-color: #2c3e50;
  }
  .header__logo {
    width: 100px;
    min-height: 60px;
  }
  .nav__lista {
    /* flex-direction: column; */
    margin-top: 10px;
  }
  h1 {
    font-size: 18px;
  }
  .nav__lista .jam {
    display: none;
  }
  /* FOOTER */
  .contenedor {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    margin-top: 40px;
  }
  .caja {
    padding: 10px;
  }
  .caja input {
    width: 150px;
    background: #2c3e50;
    height: 25px;
    text-align: left;
    border: 2px solid white;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
  }
  .caja h4 {
    margin-bottom: 25px;
    color: #343434;
    font-weight: 700;
    font-size: 20px;
  }
  .caja1 h4 {
    margin-bottom: 25px;
    color: #343434;
    font-weight: 700;
    font-size: 20px;
  }
  .caja .terminos {
    max-width: 200px;
    margin-top: 15px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 15px;
  }
  .logo__caja img {
    width: 130px;
  }
  .logo__caja {
    text-align: center;
  }
  .boton-whatsapp {
    width: 8px;
  }
  p {
    text-align: center;
    color: #7a7a7a;
  }
  .caja .terminos p {
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  /*  HEADER   */
  .header {
    background-color: #2c3e50;
    /* flex-direction: row; */
  }
  .header .header__enlace {
    align-items: left;
  }
  .seccion1__titulo {
    font-size: 40px;
  }
  #lateral:target {
    right: 0px;
    color: white;
  }
  .nav__lista {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .header__logo {
    width: 80px;
    min-height: 60px;
  }
  /*   BOOTSTRAP */
  .nav-link {
    font-family: 'Playball', cursive;
    font-size: 15px;
    padding: 5px 0;
  }
  /* 
    .d-flex{
        display: none! important;
    }     */
  .navbar-nav .border-start {
    display: none !important;
  }
  /* MAIN */
  .grid {
    display: grid;
    padding-top: 0rem;
    /* grid-auto-rows: 350px; */
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "ele1"  "ele2"  "ele3" "ele4";
    padding: 20px;
    gap: 10px;
    align-items: center;
    /* margin: auto; */
    /* max-width: max-content; */
    width: 100%;
    height: 80%;
  }
  .seccion .grid {
    align-items: center;
  }
  h2 {
    font-size: 18px;
  }
}

/* MAIN */
@media screen and (max-width: 1023px) {
  .header {
    flex-direction: column;
  }
  .header__logo {
    margin-right: 0;
  }
  img.header__marca.fade-in {
    margin: 0;
    padding: 0;
  }
  .nav {
    padding-top: 1rem;
    padding-bottom: 0;
  }
  .nav__lista {
    margin-right: 0;
    margin-top: 0;
  }
  ul {
    margin-bottom: 0;
  }
  /* FRAGANCIAS */
  .section {
    padding: 50px 40px;
  }
  .contenido {
    flex-direction: column;
  }
  .contenido .texto {
    max-width: 100%;
  }
  .contenido .texto h3 {
    text-align: center;
  }
  .swiper-slide {
    width: 300px;
  }
  .swiper-slide img {
    display: inline-block;
  }
  .col-xl-6 {
    margin-top: 30px;
  }
  .titulo2 {
    margin-bottom: -2px;
  }
  /* ENCABEZADO BIENVENIDO A EMOYAS THINGS */
  .titulo {
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  /* HEADER */
  /* Fragancias Main 1 */
  main .titulo h2 {
    font-size: 25px;
    letter-spacing: 0.3rem;
  }
  /* Fragancias Main 2 */
  .card1 .card-body1 {
    position: relative;
    width: 60%;
    left: 35%;
    top: 40%;
  }
  .d-flex1 {
    display: flex;
    align-items: center;
  }
  .titulo2 {
    margin-bottom: -4px;
  }
  .card1 {
    margin-top: 40px;
  }
  .col-12 {
    margin-top: 30px;
  }
  /*  FOOTER - BOOTSTRAP  */
  img .header__logo1 {
    width: 120px;
  }
  div .col {
    align-items: center;
    text-align: center;
  }
  .nav {
    align-items: center;
  }
  .row {
    /* text-align: center!important;
align-items: center!important; */
    font-size: 15px;
    text-align: center;
  }
  h5 {
    font-size: 18px;
    padding-top: 20px;
    margin-top: 0px;
  }
  .d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form p {
    text-align: center !important;
  }
  .d-flex .w-100 .gal-2 {
    gap: 0;
    padding-bottom: 5px;
  }
  .form-control {
    padding-bottom: 5px;
  }
  .gap-2 {
    gap: 0 !important;
  }
  .btn {
    margin-bottom: 5px;
  }
  #newsletter1 {
    margin-bottom: 10px;
  }
  /* .col-sm-6{
  text-align: center;
} */
}

@media screen and (max-width: 600px) {
  /* HEADER - BOOTSTRAP */
  main {
    padding-top: 90px;
  }
  .titulo {
    margin-bottom: 0;
  }
  main .titulo h2 {
    font-size: 20px;
    letter-spacing: 0.3rem;
  }
  .wave {
    height: 50px;
  }
  .nav-link {
    font-family: 'Playball', cursive;
    font-size: 15px;
    padding: 5px 0;
  }
  .navbar-nav .border-start {
    display: none !important;
  }
  section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #161616;
  }
  /* FRAGANCIAS */
  .contenido .imgbox img {
    min-width: 200px;
  }
  .contenido .imgbox {
    width: 400px;
  }
  /* section{
padding: 20px 40px;
min-height: 0;
} */
  .contenido .texto h3 {
    color: #fff;
    font-size: 15x;
  }
  .contenido .texto p {
    color: #fff;
    font-size: 15px;
  }
  .contenido .texto {
    color: #fff;
    font-size: 25px;
    margin-bottom: 0px;
  }
  .swiper {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 0;
  }
  section .circulo {
    clip-path: circle(80% at right -10%);
  }
  /* BOTONES de las cards ya que hay otro btn en el footer con un valor de 100% que molesta */
  .btn3 {
    width: auto;
  }
  /* Para que no se vea la linea blanca */
  .titulo2 {
    margin-bottom: -1px;
  }
  .card1 {
    margin-top: 40px;
  }
  /* FOTTER */
  .contenedor {
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
  }
  body {
    min-width: 400px;
  }
  .boton-whatsapp {
    width: 5px;
  }
  .caja input {
    padding: 15px;
  }
  #boton {
    padding: 5px;
  }
  .caja .terminos p {
    text-align: center;
  }
  p {
    text-align: center;
    color: #7a7a7a;
  }
  .caja .terminos p {
    text-align: left;
  }
  /*  FOOTER - BOOTSTRAP */
  img .header__logo {
    width: 120px;
  }
  .row {
    text-align: center !important;
    align-items: center !important;
  }
  h5 {
    padding-top: 20px;
  }
  a.nav.nav-link {
    font-size: 14px;
  }
  .nav-link {
    font-size: 20px;
  }
  a.nav__enlace1 {
    font-size: 14px;
  }
  form p {
    text-align: center !important;
  }
  .col p {
    font-size: 12px;
    /* (Tamaño de letra de Derechos Reservados) */
  }
  .suscribirte {
    display: flex;
  }
  /* CONSULTAS */
  .consultas {
    text-align: center;
  }
  .consultas form {
    width: 350px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border box;
    margin-top: 10px;
    border-radius: 7px;
  }
  h4 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  input, textarea {
    width: 90%;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 13px;
  }
  textarea {
    min-height: 80px;
    max-height: 1500px;
    max-width: 100%;
  }
  h5 {
    font-size: 20px;
  }
  .nav_link {
    font-size: .5rem;
  }
  .row {
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    align-items: center;
  }
  div .col {
    font-size: 5px;
  }
  .text-muted {
    font-size: 15px;
  }
  .nav__enlace1 {
    font-size: 12px;
  }
}
/*# sourceMappingURL=estilos.css.map */