* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}


/* @font-face{
    font-family: fuente h1;
    src: url(../fuentes/Playball-Regular.ttf);
}

h1{
    font-family: fuente h1;
    font-size: 16px;
} */