@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.logo-detalles img{
    width: 100px;
}


footer{
  position: fixed;
  background: #2c3e50;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 120px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content{
  width: 100%;
  margin: auto;
  padding: 10px 40px 40px 40px;
}
footer .content .tope{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .tope .logo-detalles{
  color: #fff;
  font-size: 30px;
}
.content .tope .media-icons{
  display: flex;
}
.content .tope .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.tope .media-icons a:nth-child(1){
  background: #4267B2;
}
.tope .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.tope .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.tope .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.tope .media-icons a:nth-child(3){
  background: #E1306C;
}
.tope .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.tope .media-icons a:nth-child(4){
  background: #0077B5;
}
.tope .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.tope .media-icons a:nth-child(5){
  background: #FF0000;
}
.tope .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 3 - 10px);
}
.content .link-boxes .box .link_nombre{
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_nombre::before{
  content: '';
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 8Fpx;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-detalles{
  width: 100%;
  background: #0F0844;
}
footer .bottom-detalles .bottom_text{
  width: 100%;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-detalles .bottom_text span,
.bottom-detalles .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
}
.bottom-detalles .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}


.whatsapp {
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 70px;
    right: 15px;
}

a img{
    text-align: center;
}




@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 800px){
  footer{
    position: relative;
  }
  .content .tope .logo-detalles{
    font-size: 26px;
  }
  .content .tope .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-detalles .bottom_text span,
  .bottom-detalles .bottom_text a{
    font-size: 17px;
  }
}
@media (max-width: 600px){
  footer::before{
    top: 165px;
  }
  footer .content .tope{
    flex-direction: column;
    margin-bottom: 25px;
  }
  .content .tope .media-icons{
    margin-top: 8px;
    
  }
  footer .content .link-boxes .box{
    width: calc(100% / 1 );
    
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
  footer .bottom-detalles .bottom_text{
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 15px 10px;
    font-size: 16px;
  }
  .bottom-detalles .bottom_text span,
  .bottom-detalles .bottom_text a{
    font-size: 13px;
  }
  footer .content .link-boxes ul{
    padding: 0%;
  }
  footer .content{
   padding-bottom: 20px;
  }
 
  footer .content .link-boxes .box{
    text-align: center;
  }
  .link-boxes .box .link_nombre::before{
    content: '';
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
    text-decoration: none;
  }
  
 /*  .content .link-boxes .box .link_nombre{
    text-decoration: none;
  } */

}
/* 
.whatsapp {
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 40px;
    right: 15px;
}

a img{
    text-align: center;
}


.row{
    background: #2c3e50;
    width: 100%;
    background-size: cover;
    margin: 0;
    --bs-gutter-x:0rem!important;

}

.row p{
    color: #6a8bac;
    text-align: justify;
    padding-bottom: 0px;
}

p{
    margin-bottom: 5px;
    margin-left: 10px;
}

.form-control{
    padding: 0%;
    height: 30px;
    width: 250px;
}
.btn{
    width: 100px;
    padding: 0%;
    height: 30px;
}

.nav-link{
    border-radius: 5px;
    font-size: 22px;
    text-align: left;
    
}

.nav-link:hover{
    transform: scale(1.05);
    box-shadow: 13px 15px 37px black;
    z-index: 10;
    transition: .4s;
} 

.row .nav{
    text-align: left;
    padding: 0;
    letter-spacing: 1;
}

form p {
    border-radius: 5px;
    text-align: left;
}

img .header__logo{
    width: 150px;
}

.col p{
    text-align: center;
    padding: 5px 0px;
    margin: 0%;
}

.nav a{
    color: #6a8bac;
}

h5{
    padding-top: 20px;
    color:  #9ca4ac; 
    text-align: left;
 
}
 

.row form p{
    margin-left: 0;
}

.header__logo1{
    width:130px;
    margin-top: 10px;
   
}

.header__logo1 img{
    align-items: center;
    text-align: center;
}

.col-lg-2{
    text-align: center;
    align-items: center;
} */