
.whatsapp {
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 40px;
    right: 15px;
}

a img{
    text-align: center;
}


.row{
    margin-bottom:0!important;
    margin: auto;
    background: #2c3e50;
    background: url(../imagenes/fondo_footer2.png);
    width: 100%;
    background-size: cover;
    /* background-attachment:fixed; */
}

.row p{
    color: #6a8bac;
    text-align: justify;
    padding-bottom: 0px;
}

p{
    margin-bottom: 5px;
}

.form-control{
    padding: 0%;
    height: 30px;
    width: 250px;
}
.btn{
    width: 100px;
    padding: 0%;
}

.nav-link{
    border-radius: 5px;
    font-size: 22px;
    text-align: left;
    
}

.nav-link:hover{
    transform: scale(1.05);
    box-shadow: 13px 15px 37px black;
    z-index: 10;
    transition: .4s;
} 

.nav{
    text-align: left;
    
}

form p {
    border-radius: 5px;
    text-align: left;
}

img .header__logo{
    width: 150px;
}

.col p{
    text-align: center;
    padding: 5px 0px;
    margin: 0%;
}

.nav a{
    color: #6a8bac;
}

h5{
    padding-top: 20px;
    color:  #9ca4ac; 
 
}
                                        
.header__logo1{
    width:130px;
    margin-top: 10px;
   
}

.header__logo1 img{
    align-items: center;
    text-align: center;
}

.col-lg-2{
    text-align: center;
    align-items: center;
}