.form-control--1 {
    width: 160px!important;
    height: 30px;
    font-size: 15px;
    margin-bottom: 0px;
}

.btn{
    height: 30px;
    align-items: center;
    align-content: center;
    width: 70px;
    margin-right: 10px;
    text-align: center! important;
}

.container-fluid{
    color: $background-header-footer;
    padding: 0px;
}

.d-flex input{
    align-items: center;
}

.nav-link{
font-family: 'Playball', cursive;
font-size: 1.6rem;
}
