.row1{
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    padding-bottom: 50px;
    background: #205375;
    padding-top: 50px;
}

.boton{
    display: flex;
    justify-content:space-around;
}

.btn1{
    width: 125px;
    padding: 0%;
    border-radius: 10px;
    height: 45px;
    justify-content: space-around;
}

.btn2{
    @extend.btn1;
    width: 125px;
    height: 45px;
}

div .card-body{
    padding:  0 10px 10px;
    border-radius: 15px;
    background-color: #a7c0e5;
    align-items:flex-end ;
}

.card{
    border-radius: 5%;
    display:inline-block;
    margin: 20px;
    overflow: hidden;
    text-align: center;
}

.card-img-top{
    padding-top: 5px;
    text-align: center;
    align-items: center;
    margin:0;
}

.img-fluid{
    border-radius: 5%;
}

.card .text-danger{
    text-transform: uppercase;
}

.card-body .text-danger{
    font-size: 25px;
    padding-top: 5px;
}

.card-body .text-muted{
    font-size: 28px;
}

.card-body.text-secundario{
    font-size: 5px;
}

.card-body h4{
   font-size: 22px;
   color: black;
   font-weight: 600;
}

.card-body h5{
    padding-top: 5px;
}

.titulo1{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #9ca4ac;
    width: 100%;
    justify-content: center;
    background: #205375;
}
.titulo1 p{
    text-align: center;
    text-transform: uppercase;
    font-family:cursive;
    font-size: 25px;
    color:  #2c3c54 ; 
    animation-name: flash;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

p .text-success{
    margin: 0;
}

.card .img{
    border-radius: 5%;
}

.container-fluid{
    overflow: hidden;
    padding: 0;
}