
                                                       
@media screen and (max-width: 1023px) {

                                         /*  HEADER */

.header {
    flex-direction:column;
}

.header__logo{
    margin-right: 0;
}

img.header__marca.fade-in{
    margin: 0;
    padding: 0;
}
.nav{
    padding-top: 10px;
    padding-bottom: 0;
}

.nav__lista{
    margin-right: 0;
    margin-top: 0;
}

ul{
    margin-bottom: 0;
}

                                        /* MAIN 1 */
.main{
    padding-top: 160px;
}
                                /* ENCABEZADO BIENVENIDO A EMOYAS THINGS */
main .titulo h2{
    width: 100%;
    margin-bottom: 30px;
    font-size: 35px;
}
h2{
    font-size: 20px;
}
                                        /* MAIN 2 */

.row1{
    padding-top: 50px;
}

.btn1, .btn2{
    margin-right: 0;
}

.boton{
    justify-content:space-around;
}
                                           /* FRAGANCIAS */
    
.section{
padding: 50px 40px;
}

.contenido{
flex-direction: column;
}

.content .textBox
.content .imgBox{
    max-width: 100%;
}

.contenido .texto{
width: 100%;
}

.contenido .texto p{
    margin-right: 0px;
}
  
.texto h3{
    margin-right: 0px;
    margin-bottom: 15px;
}

.swiper-slide{
    width: 300px
}
.swiper-slide img {
    display:inline-block;
}

.col-xl-6{
    margin-top: 30px;
}

.titulo2{
    margin-bottom: -2px;
}

.titulo2 p{
    margin-bottom: 0;
}

                                        /* FOOTER */


}