@media screen and (max-width: 600px) {

                                         /* HEADER  */

.header {
    width: 100%;
    flex-direction: row!important;
    height: 100px;
}

.header__logo{
    padding: 10px 0;
}
.nav{
    &__enlace {
        &:hover:after {
            transform: none;
        }
    }
}        

.header__open {
    margin-right: 1rem;
    display: block;
    font-size: 32px;
    color: white;
    text-decoration: none;
}

.header__logo {
    height: auto;
    margin-left: 1rem;
    padding-top: 10px;
}

.jam-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lateral {
    display: block;
    background:  #2c3e50;
    background-image: linear-gradient(to bottom, #2c3e50, #d7e6ef );
    /* background-image: linear-gradient(to bottom, #2991d6, #d7e6ef ); */
    width: 60%;
    height: 100vh;
    opacity: 0.96; 
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    transition: right 1.5s;
    padding-left: 5%;
    padding-top: 5%;
}

#lateral:target {
    right: 20;
    display: block;
    
}


.nav__lista {
    flex-direction: column;
    align-items: center;
    display: flex;
    position: relative;
    padding-left: 0;
    line-height: 2.5rem;

}

.jam-close-rectangle {
    font-size: 20px;
    display: block!important;
    color: #fff;
    transition: none;
}




                                        /*  MAIN 1 */

main{
    padding-top: 90px;
}     

.titulo{
    margin-bottom: 0;
}

main .titulo h2{
    font-size: 20px;
    letter-spacing: 0.3rem;
}

.wave{
    height: 50px;
}


/* .navbar-nav .border-start{
    display: none! important;
}  */

/* section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding:  30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #161616;
  } */

                                        /* MAIN 2 */

.row1{
    padding-top: 0px;
}

.col-sm-12{
    text-align: center;
    

}

.col-12{
    display: flex;
    justify-content: center;
}

.btn1, .btn2{
    margin-right: 0;
    font-size: 14px;
    width: 125px;
}

.boton{
    justify-content:space-around;
}

                                                 /* FRAGANCIAS */

/* main{
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
    background: #205375;
    padding-top: 155px;
} */

section{
    position: relative;
    padding:  30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #161616;
  }
.contenido .imgbox img{
/* min-width: 200px; */
height: 300px;
}

.contenido .imgbox{
width:300px!important;
}

/* section{
padding: 20px 40px;
min-height: 0;
} */

.contenido .texto h3{
color: #fff;
font-size: 15x;
}  

.contenido .texto p{
color: #fff;
font-size: 15px;
}

.contenido .texto{
color: #fff;
font-size: 25px;
margin-bottom: 0px;

}

.swiper {
width: 100%;
padding-top: 30px;
padding-bottom: 0;
}

.contenido .imgbox {
    display: flex;
    width: 300px;
    justify-content: flex-end;
}

.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
    perspective: 300px!important;
}
                                               
section .circulo{
    clip-path: circle(80% at right -10%);
}

/* BOTONES de las cards ya que hay otro btn en el footer con un valor de 100% que molesta */
.btn3{
    width:auto;
}
/* Para que no se vea la linea blanca */
.titulo2{
    margin-bottom: -1px;
    padding-top: 0;
}

.titulo2 p{
    font-size: 25px;
    margin-bottom: 0;
}

.card1{
    margin-top: 40px;
}
                                 

                                              /* FOTTER */  

footer::before{
    top: 165px;
}
footer .content{
    padding: 15px 40px 40px 40px;
}
footer .content .tope{
    flex-direction: column;
    margin-bottom: 25px;
}
.content .tope .media-icons{
    margin-top: 8px;
    
}
footer .content .link-boxes .box{
    width: calc(100% / 1 );
    
}
footer .content .link-boxes .input-box{
    width: 100%;
    margin-right: 0;
}
footer .bottom-detalles .bottom_text{
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 15px 10px;
    font-size: 16px;
}
.bottom-detalles .bottom_text span,
.bottom-detalles .bottom_text a{
    font-size: 13px;
}
footer .content .link-boxes ul{
    padding: 0%;
}
footer .content{
    padding-bottom: 20px;
}

footer .content .link-boxes .box{
    text-align: center;
}
.link-boxes .box .link_nombre::before{
    content: '';
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
    text-decoration: none;
}

.link-boxes .input-box input {
    width: 100%;
    text-align: center;
    align-items: center;
}

.link-boxes .input-box .boton{
   /*  width:50%; */
    text-align: center;
}

.content .link-boxes .box .link_nombre {
    margin-top: 15px;
}
}