
@media screen and (max-width: 800px) {

                            /* HEADER */

                              /* Fragancias Main 1 */

main .titulo h2{
  font-size: 25px;
  letter-spacing: 0.3rem;
}

                            /* Fragancias Main 2 */
.card1 .card-body1{
  position: relative;
  width: 60%;
  left: 35%;
  top: 40%;
}

.btn1{
  width:auto;
}

.d-flex1{
  display:flex;
  align-items: center;
  }

.titulo2{
  margin-bottom: -4px;
}

.card1{
    margin-top: 40px;
}

.col-12{
  margin-top: 30px;
}
                                    /*  FOOTER - BOOTSTRAP  */

img .header__logo1{
width: 120px;
}

div .col{
align-items: center;
text-align: center;
}

.nav{
  align-items: center;
}
.row{
/* text-align: center!important;
align-items: center!important; */
font-size: 15px;
text-align: center;

}

h5{
 font-size: 18px;
 padding-top: 20px;
 margin-top: 0px;
}

.d-flex{
 display:flex;
 flex-direction: column;
 align-items: center;
}

form p{
  text-align: center!important;
}

.d-flex .w-100 .gal-2{
  gap: 0;
  padding-bottom: 5px;
}

.form-control{
  padding-bottom: 5px;
}

.gap-2{
  gap: 0!important;
}

.btn{
  margin-bottom: 5px;
}

#newsletter1{
  margin-bottom: 10px;
}

/* .col-sm-6{
  text-align: center;
} */
}