@media screen and (max-width: 600px) {

                                         /* HEADER  */

.header {
    width: 100%;
    flex-direction: row!important;
    height: 90px;
}

.nav{
    &__enlace {
        &:hover:after {
            transform: none;
        }
    }
}        

.header__open {
    margin-right: 1rem;
    display: block;
    font-size: 32px;
    color: white;
    text-decoration: none;
}

.header__logo {
    width:70%;
    height: auto;
    margin-left: 1rem;
    padding-top: 0;
}

.jam-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lateral {
    display: block;
    background:  #2c3e50;
    background-image: linear-gradient(to bottom, #2c3e50, #d7e6ef );
    /* background-image: linear-gradient(to bottom, #2991d6, #d7e6ef ); */
    width: 60%;
    height: 100vh;
    opacity: 0.96; 
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    transition: right 1.5s;
    padding-left: 5%;
    padding-top: 5%;
}

#lateral:target {
    right: 20;
    display: block;
    
}


.nav__lista {
    flex-direction: column;
    align-items: center;
    display: flex;
    position: relative;
    padding-left: 0;
    line-height: 2.5rem;

}

.jam-close-rectangle {
    font-size: 20px;
    display: block!important;
    color: #fff;
    transition: none;
}




                                        /*  MAIN 1 */

main{
    padding-top: 90px;
}     

.titulo{
    margin-bottom: 0;
}

main .titulo h2{
    font-size: 20px;
    letter-spacing: 0.3rem;
}

.wave{
    height: 50px;
}

/* .navbar-nav .border-start{
    display: none! important;
}  */

/* section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding:  30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #161616;
  } */

                                        /* MAIN 2 */

.row1{
    padding-top: 0px;
}

.col-sm-12{
    text-align: center;
    

}

.col-12{
    display: flex;
    justify-content: center;
}

.btn1, .btn2{
    margin-right: 0;
    font-size: 14px;
    width: 125px;
}

.boton{
    justify-content:space-around;
}

                                                 /* FRAGANCIAS */
.contenido .imgbox img{
min-width: 200px;
}

.contenido .imgbox{
width:400px;
}

/* section{
padding: 20px 40px;
min-height: 0;
} */

.contenido .texto h3{
color: #fff;
font-size: 15x;
}  

.contenido .texto p{
color: #fff;
font-size: 15px;
}

.contenido .texto{
color: #fff;
font-size: 25px;
margin-bottom: 0px;

}

.swiper {
width: 100%;
padding-top: 30px;
padding-bottom: 0;
}
                                               
section .circulo{
    clip-path: circle(80% at right -10%);
}

/* BOTONES de las cards ya que hay otro btn en el footer con un valor de 100% que molesta */
.btn3{
    width:auto;
}
/* Para que no se vea la linea blanca */
.titulo2{
    margin-bottom: -1px;
}

.card1{
    margin-top: 40px;
}
                                 

                                                            /* FOTTER */  

/* .contenedor{
flex-direction: column;
align-items: center;
padding-top: 5px;
}

body{
min-width: 400px;
}

.boton-whatsapp{
width: 5px;
}
.caja input{
    padding: 15px;
}

#boton{
padding: 5px;
}

.caja .terminos p{
text-align: center;
}

p{
text-align: center;
color: #7a7a7a;
}

.caja .terminos p{
text-align: left;
} */

                                        /*  FOOTER - BOOTSTRAP */
img .header__logo{
width: 120px;
}
.row{
text-align: center!important;
align-items: center!important;
}

h5{
padding-top: 20px;
}

a.nav.nav-link{
font-size: 14px;
}

.nav-link{
font-size: 20px;
}

a.nav__enlace1{
font-size: 14px;
}

form p{
    text-align: center!important;
}

.col p{
    font-size: 12px; /* (Tamaño de letra de Derechos Reservados) */
}

.suscribirte{
    display: flex;
}
                                        /* CONSULTAS */

.consultas{
text-align: center;
}

.consultas form{
width: 350px;
margin: auto;
background: rgba(0, 0, 0,0.4);
padding: 10px 20px;
box-sizing: border box;
margin-top: 10px;
border-radius: 7px;
}

h4{
font-size: 25px;
margin-bottom: 10px;
}
input, textarea{
width: 90%;
margin-bottom: 15px;
padding: 5px;
font-size: 13px;

}
textarea{
min-height: 80px;
max-height: 1500px;
max-width: 100%;
}
h5{
font-size: 20px;
}
.nav_link{
font-size: .5rem;
}
.row{
flex-direction: column;
align-items: center;
padding-top: 0px;
align-items: center;
}

div .col{
font-size: 5px;
}

.text-muted{
font-size: 15px;
}

.nav__enlace1{
font-size: 12px;
}


}