@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

main{
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  background: #205375;
  padding-top: 155px;
}

.products_body .texto{
  width:80%;
}

.products_body .texto h3{
  font-size: 38px;
<<<<<<< HEAD
  color: white;
=======
  color:white;
>>>>>>> fc62f2ac9fc70f8848622e522c6f15cebc5dda16
}

.products_body .texto p{
  font-size: 25px;
  color:white;
  text-align: justify;
} 

.text{
  text-align: center;
  justify-content: center;
}
.text h2{
  margin-top:35px;
  color: white;
}
.products_body{
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  width: 100%;
}

.products_body .wrapper{
  width: 500px;
  height:550px;
  background: transparent;
  margin: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  transform: scale(0.93);
  transition: box-shadow 0.5s, transform 0.5s;
}

.products_body .wrapper:hover{
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
}

main .products_body .wrapper .container{
  width: 100%;
  height: 100%;
  background: beige;
}

.wrapper .container .top{
  height: 80%;
  width: 100%;
  background-size: 100%;
  object-fit: contain;
}

.wrapper .container .bottom{
  width: 100%;
  height: 20%;
  transition: transform 0.5s;
}

.wrapper .container .bottom .left{
  height: 100%;
  width: 100%;
  background: #f4f4f4;
  position: relative;
  float: left;
  border-radius:10px;
}

.wrapper .container .bottom .left .details{
  padding-left: 20px;
  float: left;
  width: calc(70%);
  margin-top: 10px;
  text-align: center;
}

.wrapper .container .bottom .left .details .txt_products{
  font-size: 30px;
}

.wrapper .container .bottom .left .details p{
  font-size: 20px;
}
.wrapper .container .bottom .left .buy{
  float: right;
  height: 100%;
  background: #f1f1f1;
  transition: background 0.5s;
  border-left: solid thin rgba(0,0,0,0.1);
  border-radius:10px;   
}
.wrapper .container .bottom .left .buy i{
  font-size: 30px;
  padding: 35px;
  color: #0781b6;
  transition: transform 0.5s;
}

.wrapper .container .bottom .left .buy:hover i{
  transform: rotate(360deg);
}

.wrapper .inside{
  z-index: 9;
  background: #0781b6;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.wrapper .inside .icon{
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}

.wrapper .inside:hover{
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}
.wrapper .inside:hover .icon{
  opacity: 0;
  right: 15px;
  top: 15px;
}
.wrapper .inside:hover .contents{
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}

.wrapper .inside .contents{
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s,transform 0.8s;
}
.wrapper .inside .contents h2{
  color: white;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 15px;
}

.wrapper .inside .contents p{
  color: white;
  font-size: 22px;
  text-align: justify;
}




















